<nav class="navbar">
  <div class="nav-links">
    <a [routerLink]="['/']" routerLinkActive="active">Početna</a>
    <a [routerLink]="['/pretraga']" routerLinkActive="active">Pretraga</a>
    <a [routerLink]="['/korpa']" routerLinkActive="active">Korpa</a>
    <a [routerLink]="['/profil']" routerLinkActive="active">Profil</a>
    <a [routerLink]="['/movies']" routerLinkActive="active">Pogledaj filmove</a>
  </div>

  <div class="auth-links">

    <a *ngIf="!isLoggedIn()" [routerLink]="['/prijava']" routerLinkActive="active" class="btn">Prijava</a>
    <a *ngIf="!isLoggedIn()" [routerLink]="['/registracija']" routerLinkActive="active" class="btn">Registracija</a>


    <button *ngIf="isLoggedIn()" (click)="logout()" class="btn logout">Odjavi se</button>
  </div>
</nav>

<div class="main-content" style="flex: 1;">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
